<nav class="navbar navbar-expand-md">
  <!-- <a class="navbar-brand" href="#">Angular Bootstrap Demo</a> -->
  <img
    src="../../assets/logo.png"
    alt="logo"
    class="img-responsive mx-auto"
    style="max-height: 10vh"
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto d-none">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Create</a>
      </li>
    </ul>
  </div>
</nav>
